@use '../_libs/mixin' as *;
@use '../_libs/easings' as *;

html,
body {
  min-width: 1280px;
  font-family: 'Hiragino Kaku Gothic Pro', 'メイリオ', 'ＭＳ Ｐゴシック', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'palt';
  line-height: 1;
  color: #000;

  ::selection {
    background-color: #666;
  }
}

html {
  overflow: auto;
}

body {
  text-size-adjust: 100%;
  transition: opacity 400ms $ease-out-sine;
}

a {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
video {
  display: block;
  width: 100%;

  &.lozad {
    opacity: 0;

    &--loaded {
      opacity: 1;
      transition: opacity 300ms 50ms;
    }
  }
}

.SP {
  display: none !important;
}

// responsive
@media screen and (max-width: ($BREAKPOINT)) {
  html,
  body {
    min-width: 320px;
  }

  body {
    overflow: hidden;
  }

  .PC {
    display: none !important;
  }

  .SP {
    display: block !important;
  }
}
