-
  const SETTING = {
    PROJECT: {
      PROTOCOL: 'https',
      DOMAIN: 'beams.co.jp',
      DIR: 'special/raybeams/21aw/',
    },
    ASSETS_PATH: {
      CSS: 'assets/css/',
      JS: 'assets/js/',
      IMG: 'assets/images/',
    },
    BREAKPOINT: 736,
  };

  const CSS_DIR = SETTING.ASSETS_PATH.CSS
  const JS_DIR = SETTING.ASSETS_PATH.JS
  const IMG_DIR = SETTING.ASSETS_PATH.IMG

  const meta = {
    title: 'simple slider',
    description: 'simple slider',
    keywords: 'キーワード',
    pageType: 'article',
    canonical: '',
    og: '',
  }
