@use '../_libs/mixin' as *;
@use '../_libs/easings' as *;

.content {
  width: 100%;
  height: 300px;
  background-color: #84DFFF;
}

@media screen and (max-width: ($BREAKPOINT)) {
  .content {

  }
}
