mixin twitter
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35">
  <path id="rect2989" class="cls-1" d="M22.705,6.679a5.5,5.5,0,0,0-5.454,5.413,5.448,5.448,0,0,0,.119,1.258A15.637,15.637,0,0,1,6.118,7.405,5.509,5.509,0,0,0,7.7,14.784a5.5,5.5,0,0,1-2.483-.732c0,.023,0,.048,0,.072A5.509,5.509,0,0,0,9.54,19.6a5.5,5.5,0,0,1-1.454.168,5.412,5.412,0,0,1-1.034-.116,5.509,5.509,0,0,0,5.076,3.911A11.163,11.163,0,0,1,3.94,25.7,15.661,15.661,0,0,0,28.268,12.918c0-.239,0-.479,0-.715A11.146,11.146,0,0,0,31.06,9.4a10.932,10.932,0,0,1-3.176.814,5.513,5.513,0,0,0,2.473-3.005,11.04,11.04,0,0,1-3.52,1.279,5.5,5.5,0,0,0-3.99-1.807l-.142,0Z"/>
  <rect class="cls-2" width="35" height="35"/>
  </svg>

mixin facebook
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35">
  <path class="cls-1" d="M12.973,33.394l6.586.112.272-16.012,4.393.075.676-5.507-4.976-.084.054-2.763c.024-1.438.174-2.208,2.229-2.173l2.746.047.093-5.518L20.651,1.5c-5.278-.089-7.181,2.557-7.257,7.057l-.057,3.313-3.29-.056-.093,5.518,3.29.056Z"/>
  <rect class="cls-2" width="35" height="35"/>
  </svg>

mixin line
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35">
  <path class="cls-1" d="M33.736,15.206C33.736,7.941,26.453,2.03,17.5,2.03S1.264,7.941,1.264,15.206c0,6.513,5.776,11.968,13.578,13,.529.114,1.249.349,1.431.8a3.345,3.345,0,0,1,.052,1.469s-.19,1.145-.231,1.39c-.071.41-.327,1.605,1.406.875s9.35-5.506,12.757-9.427h0A11.721,11.721,0,0,0,33.736,15.206ZM12.472,19.4H7.606a.315.315,0,0,1-.218-.088l0,0,0,0a.31.31,0,0,1-.089-.218h0V11.7H9.061v5.934h3.411ZM15.218,11.7V19.4H13.446V11.7ZM23.056,19.4H21.6a.31.31,0,0,1-.081-.011h0l-.022-.007-.009,0-.016-.006-.015-.007-.009,0-.019-.012,0,0a.311.311,0,0,1-.08-.078L18.1,14.883V19.4H16.325V11.7h1.482l.017,0h.013l.018.005.011,0,.019.006.01,0,.018.008.011,0,.016.01.01.006.016.011.008.006.017.014.006.006.019.019,0,0,.025.032,3.242,4.379V11.7h1.771ZM29.345,11.7v1.771h-3.41v1.2h3.41v1.772h-3.41v1.2h3.41V19.4H24.479a.31.31,0,0,1-.218-.089l0,0,0,0a.31.31,0,0,1-.089-.218h0V12.011h0a.315.315,0,0,1,.088-.218l0-.006,0,0a.314.314,0,0,1,.219-.089h4.866Z"/>
  <rect class="cls-2" width="35" height="35"/>
  </svg>
